<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>post_list 화면입니다.</h1>
    <ul>
        {% for post in posts %}
            <li>
                <h2>{{post.title}}</h2>
                <p>{{post.content}}</p>
                <ul>
                     {% for comment in post.comment_set.all %}
                        <li>{{comment.content}}</li>
						<!-- 추가-->
                    {% empty %}
                        <li>아직 댓글이 없음</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>