{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div id="navbar">
    <h1>Post List 화면입니다</h1>
    <a href="/posts/add/" class="btn btn-primary">글 작성</a>
</div>
<div id="post-list">
    <ul class="posts">
        {% for post in posts %}
        <li class="post">
            <h2>
                <a href="/posts/{{post.id}}">{{post.title}}</a>
            </h2>
<!--            <h2>{{post.title}}</h2>-->
            <p>{{post.content}}</p>
            <ul class="comments">
                {% for comment in post.comment_set.all %}
                <li class="comment">{{comment.content}}</li>
                <!-- 추가-->
                {% empty %}
                <li class="comment-empty">아직 댓글이 없음</li>
                {% endfor %}
            </ul>
            <!--            첨부 이미지 확인하는 코드-->
            {% if post.thumbnail %}
            <img src="{{post.thumbnail.url}}" alt="">
            {% else %}
            <img src="" alt="">
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>